<footer>
  <div>
    <img src="{{ section.settings.footer_logo | img_url: 'small' }}" alt="{{ section.settings.footer_logo.alt }}">
    <p>{{ section.settings.footer_text }}</p>
  </div>

  <div class="social-links">
    {% for block in section.blocks %}
      {% if block.type == "text" %}
        <a href="{{block.settings.social_link}}">{{block.settings.social_icon}}</a>
      {% endif %}
    {% endfor %}
  </div>

</footer>
  
{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "image_picker",
        "id": "footer_logo",
        "label": "Footer Logo Image"
      },

      {
        "type": "text",
        "id": "footer_text",
        "label": "Footer Text"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Social Links",
        "settings": [
          {
            "type": "text",
            "id": "social_icon",
            "label": "Social Icon"
          },
          {
            "type": "url",
            "id": "social_link",
            "label": "Social Link"
          }

        ]
      }
    ]
  }

{% endschema %}