<footer>
    {%- assign footer_linklist = section.settings.footer_linklist -%}
    {% if linklists[footer_linklist].links.size > 0 %}
      <ul>
        {% for link in linklists[footer_linklist].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}

    <img src="{{ section.settings.footer_logo | img_url: 'small' }}" alt="{{ section.settings.footer_logo.alt }}">

    <h2>{{ section.settings.just_practicing }}</h2>

    {% for block in section.blocks %}
      <h3>{{ block.settings.textarea_block }}</h3>
    {% endfor %}

  </footer>
  
  {% schema %}
    {
      "name": "Footer",
      "settings": [
        {
          "type": "link_list",
          "id": "footer_linklist",
          "label": "First menu",
          "default": "footer"
        },

        {
          "type": "image_picker",
          "id": "footer_logo",
          "label": "Footer Logo Image"
        },

        {
          "type": "text",
          "id": "just_practicing",
          "label": "fun fun fun"
        }
      ],
      "blocks": [
        {
          "type": "text",
          "name": "block_text",
          "settings": [
            {
              "type": "textarea",
              "id": "textarea_block",
              "label": "Text Block"
            }
          ]
        }
      ]
    }
  
  {% endschema %}