<section class="home-collection">
  <div class="wrapper">
    
    {%- assign collection = collections[section.settings.collection_1] -%}
    <div class="home-collection-1" style="background-image: url({{collection.image |img_url: '1400x'}})">
      {% if section.settings.title_1 != blank %}
        <h2 class="home-collection-title">{{ section.settings.title_1 | escape }}</h2>
      {% endif %}

      {% if section.settings.link_1 != blank %}
        <a class="btn" href="{{section.settings.link_1}}">{{section.settings.link_text_1}}</a>
      {% endif %}
    </div>

    {%- assign collection = collections[section.settings.collection_2] -%}
    <div class="home-collection-2" style="background-image: url({{collection.image |img_url: '1400x'}})">
      {% if section.settings.title_2 != blank %}
        <h2 class="home-collection-title">{{ section.settings.title_2 | escape }}</h2>
      {% endif %}

      {% if section.settings.link_2 != blank %}
        <a class="btn" href="{{section.settings.link_2}}">{{section.settings.link_text_2}}</a>
      {% endif %}
    </div>

  </div>
</section>

{% schema %}
  {
    "name": "Home Collections",
    "settings": [
      {
        "type": "text",
        "id": "title_1",
        "label": "Heading",
        "default": "Home Collection 1"
      },
      {
        "id": "collection_1",
        "type": "collection",
        "label": "Collection"
      },
      {
        "type": "url",
        "id": "link_1",
        "label": "Link"
      },
      {
        "type": "text",
        "id": "link_text_1",
        "label": "Link Text"
      },
      {
        "type": "text",
        "id": "title_2",
        "label": "Heading",
        "default": "Home Collection 2"
      },
      {
        "id": "collection_2",
        "type": "collection",
        "label": "Collection"
      },
      {
        "type": "url",
        "id": "link_2",
        "label": "Link"
      },
      {
        "type": "text",
        "id": "link_text_2",
        "label": "Link Text"
      }
    ],
    "presets": [
      {
        "name": "Home Sections",
        "category": "Sections"
      }
    ]
  }
{% endschema %}