{% assign break_at = 4 %}

{% assign product_id = product.id %}

{% if product.collections %}

   <h2>{{ section.settings.related_title }}</h2>
   {% for collection in product.collections %}
      {% for product in collection.products %}
         {% unless product.id == product_id %}
         <figure>
            <a href="{{product.url}}">
               <img src="{{ product | img_url: '400x400' }}" alt="{{product.featured_image.alt}}">
               <figcaption>
                  <h3>{{product.title}}</h3>
                  <h4>{{product.price | money}}</h4>
               </figcaption>
            </a>
         </figure>
         {% endunless %}
          {% assign counter = counter | plus: 1 %}
         {% if counter == break_at %}
            {% break %}
         {% endif %}
      {% endfor %}
   {% endfor %}
   
{% endif %}

{% schema %}
{
  "name": "Related products",
  "class" : "products-related",
  "tag" : "section",
  "settings": [
      {
         "id": "related_title",
         "type": "text",
         "label": "Section title",
         "default": "Related Products"
      }
   ]
}
{% endschema %}