<div class="cart-page wrapper">

  {% if cart.item_count > 0 %}
    <h1>Cart</h1>

    <form action="/cart" method="post" class="cart" novalidate>
      <table>
        <thead class="col-names">
          <th></th>
          <th>Product</th>
          <th>Price</th>
          <th>Qty</th>
          <th>Total</th>
        </thead>

        <tbody>
          {% for item in cart.items %}
            <tr class="cart-items">
              <td class="cart-img">
                <a href="{{ item.url | within: collections.all }}">
                  <img src="{{ item | img_url: 'small' }}" alt="{{ item.title | escape }}">
                </a>
              </td>
              <td><a href="{{ item.url }}">{{ item.product.title }}</a></td>
              <td>{{ item.price | money }}</td>
              <td>
                <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="remove">x</a>
              </td>
              <td>
                {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
                {{ item.line_price | money }}
                {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="total">
        <p>sub total : {{ cart.total_price | money }}</p>
        <div class="total-btns">
          <button type="submit" name="update">Update</button>
          <button type="submit" name="checkout">Checkout</button>
        </div>
      </div>
    </form>

  {% else %}
    <h2>cart</h2>
    Cart is empty
{% endif %}

</div>
